@import "./variables";

* {
  border-style: solid;
  border-width: 0px;
  box-sizing: border-box;
  font-family: $font2;
  margin: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: $space_unit;
}
::-webkit-scrollbar-track {
  box-shadow: rgba($color: #000000, $alpha: 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  * {
    color: $colour01;
  }
  ::-webkit-scrollbar-thumb {
    background: $colour01;
  }
  background-color: $colour02;
  border-color: $colour01;
}
